# Series

In [1]:
import pandas as pd

In [2]:
data = [1, 2, 3, 4, 5]

In [3]:
series_1 = pd.Series(data)

In [4]:
series_1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
series_1.index

RangeIndex(start=0, stop=5, step=1)

In [6]:
series_1.index = (f'Linha {i}' for i in range(5))

In [7]:
series_1

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
dtype: int64

In [8]:
data_2 = {f'Linha {i}': i for i in range(5)}

In [9]:
data_2

{'Linha 0': 0, 'Linha 1': 1, 'Linha 2': 2, 'Linha 3': 3, 'Linha 4': 4}

In [10]:
series_2 = pd.Series(data_2)

In [11]:
series_2

Linha 0    0
Linha 1    1
Linha 2    2
Linha 3    3
Linha 4    4
dtype: int64

In [44]:
data_3 = [[linha for linha in range(10)] for _ in range(10)]

In [45]:
data_3

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [46]:
pd.DataFrame(data_3)

   0  1  2  3  4  5  6  7  8  9
0  0  1  2  3  4  5  6  7  8  9
1  0  1  2  3  4  5  6  7  8  9
2  0  1  2  3  4  5  6  7  8  9
3  0  1  2  3  4  5  6  7  8  9
4  0  1  2  3  4  5  6  7  8  9
5  0  1  2  3  4  5  6  7  8  9
6  0  1  2  3  4  5  6  7  8  9
7  0  1  2  3  4  5  6  7  8  9
8  0  1  2  3  4  5  6  7  8  9
9  0  1  2  3  4  5  6  7  8  9