In [1]:
index = [chr(i) for i in range(65, 75)]

In [2]:
index

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [3]:
data = [i for i in range(10)]

In [4]:
data

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
import pandas as pd

In [6]:
data = pd.DataFrame(data, index=index, columns=['numero'])

In [7]:
data

   numero
A       0
B       1
C       2
D       3
E       4
F       5
G       6
H       7
I       8
J       9

In [8]:
filtro = data.numero.isin([i for i in range(10) if i % 2 == 0])

In [9]:
data[filtro].reindex()

   numero
A       0
C       2
E       4
G       6
I       8