In [1]:
import pandas as pd

In [2]:
uri = 'https://gist.githubusercontent.com/guilhermesilveira/e99a526b2e7ccc6c3b70f53db43a87d2/raw/1605fc74aa778066bf2e6695e24d53cf65f2f447/machine-learning-carros-simulacao.csv'

In [3]:
data = pd.read_csv(uri)
data.head()

   Unnamed: 0      preco  vendido  idade_do_modelo   km_por_ano
0           0   30941.02        1               18  35085.22134
1           1   40557.96        1               20  12622.05362
2           2   89627.50        0               12  11440.79806
3           3   95276.14        0                3  43167.32682
4           4  117384.68        1                4  12770.11290

In [4]:
data = data.drop(columns='Unnamed: 0')

In [5]:
data.head()

       preco  vendido  idade_do_modelo   km_por_ano
0   30941.02        1               18  35085.22134
1   40557.96        1               20  12622.05362
2   89627.50        0               12  11440.79806
3   95276.14        0                3  43167.32682
4  117384.68        1                4  12770.11290

In [6]:
import numpy as np
from sklearn.dummy import DummyClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split, cross_validate, cross_val_score

X = data[['preco', 'idade_do_modelo', 'km_por_ano']]
Y = data['vendido']

np.random.seed(5)

train_x, test_x, train_y, test_y = train_test_split(X, Y, test_size=0.25)

model = DummyClassifier()
model.fit(train_x, train_y)
model.score(test_x, test_y)

0.5312

In [7]:
np.random.seed(5)

train_x, test_x, train_y, test_y = train_test_split(X, Y, test_size=0.25)

model = DecisionTreeClassifier()
model.fit(train_x, train_y)
model.score(test_x, test_y)

0.7244

In [8]:
np.random.seed(5)

model = DecisionTreeClassifier(max_depth=2)
result = cross_validate(model, X, Y, cv=3)
score = cross_val_score(model, X, Y, cv=3)
mean = score.mean()
std = score.std()
accuracy_min, accuracy_max, mean = (mean - 2 * std) * 100, (mean + 2 * std) * 100, mean * 100

accuracy_min, accuracy_max, mean

(74.98892124361947, 76.57109378607785, 75.78000751484866)